<form action="/company" method="POST">
<input type="text" name="issuedShareCount" placeholder="issued share count ">
<input type="text" name="owner" placeholder="owner">
<input type="text" name="email" placeholder="email">
<input type="text" name="name" placeholder="name">
<button>submit</button>
</form>