<% include partials/header %>
<h1>Landing Page</h1>

<p>Welcome to Stock Exchange</p>
<div>
        <a href="/trader">Create new trader  : trader </a>
    
    </div>
<div>
    <a href="/company">Create new participant :company</a>

</div>

<div>
    <a href="/createshare">Create new transaction  : create share and issue share</a>

</div>
<div>
    <a href="/placeorder">Create new transaction  : place order </a>

</div>

<div>
        <a href="/modifyorder">Create new transaction  : modify order </a>
    
    </div>

<% include partials/footer %>