


<p>Enter the required values below</p>
</div>

<form action="/modifyorder" method="POST" >
    <div>
            <input type="text" name="newPrice" placeholder="new price">

    </div>
<div>
        <input type="text" name="Order" placeholder="order id">    

</div>
 <div>
      <button>Confirm</button>
    </div>
</form>




