

<div>
    <button><span>x</span></button>


<!-- <h4 id="addAssetModelLabel" >Create asset</h4> -->

<p>Enter the required values below</p>
</div>

<form action="">
    <label for="newPrice">newPrice</label>
    <input type="text" name="newPrice">

    <label for="Order">Order</label>  
    <input type="text" name="Order">    

    <div>
        <button>Cancel</button>
        <button>Confirm</button>
    </div>
</form>




