<% include partials/header %>
<!-- 
<div class="container">
    <div class="row">
        <div>
            <h1 style="text-align:center">Place order</h1>

        </div>
        <div style="width:30%; margin: 0 auto;">
            <form action="/placeorder" method="POST">
                <div class="form-group">
                    <input class="form-group" type="radio" name="OrderType" value="FOR_SALE" checked>FOR_SALE
                    <input class="form-group" type="radio" name="OrderType" value="FOR_BUY">For_BUY
                </div>
                <div class="form-group">
                    <input class="form-group" type="text" name="count" placeholder="Share count">
                </div>
                <div class="form-group">
                    <input class="form-group" type="text" name="price" placeholder="Share price">
                </div>
                <div class="form-group">
                    <input class="form-group" type="text" name="company" placeholder="Company name">
                </div>
                <div class="form-group">
                    <input class="form-group" type="text" name="trader" placeholder="Trader name">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit!</button>
                </div>
            
            </form>
        </div>
    </div>
</div>
 -->


<section id="form" class="clearfix" >
        <h2 style="text-align:center;">Place company</h2>
        <div class="container-fluid h-100">
          <div class="row justify-content-center align-items-center h-100">
              <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <form action="/company" method="POST">
                      <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="OrderType" value="FOR_SALE" checked>FOR_SALE <br>
                            <input class="form-check-input" type="radio" name="OrderType" value="FOR_BUY">For_BUY   </div>
                      <div class="form-group">
                        <input _ngcontent-c0="" class="form-control col-form-label" type="text" name="count" placeholder="Share count">
                    </div>
                    <div class="form-group">
                      <input _ngcontent-c0="" class="form-control col-form-label" type="text" name="price" placeholder="Share price">
                  </div>
      
                      <div class="form-group">
                          <input class="form-control col-form-label"type="text" name="company" placeholder="Company name">
                      </div>

                      <div class="form-group">
                            <input class="form-control col-form-label" type="text" name="trader" placeholder="Trader name">
                        </div>
                      <div class="form-group">
                          <button class="btn btn-info btn-lg btn-block">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
        
      </section>
      
    
<% include partials/footer %>


