

<div>
    <button><span>x</span></button>


<h4 id="addAssetModelLabel" >Create asset</h4>

<p>Enter the required values below</p>
</div>

<form action="">
    <label for="shareId">shareId</label>
    <input type="text" name="shareId">

    <label for="count">count</label>
    <input type="text" name="count">

    <label for="company">company</label>
    <input type="text" name="company">

    <label for="holder">holder</label>
    <input type="text" name="holder">

    <div>
        <button>
            Cancel
        </button>

        <button>Confirm</button>
    </div>
    <button></button>
</form>

