

<div>
    <button><span>x</span></button>


<!-- <h4 id="addAssetModelLabel" >Create asset</h4> -->

<p>Enter the required values below</p>
</div>

<form action="">
    <label for="balance">balance</label>
    <input type="text" name="balance">

    <label for="email">email</label>  
    <input type="email" name="email" id="inputemail" class="form-control" value="" required="required" title="">
    
    <label for="name">name</label>
    <input type="text" name="name">

    <div>
        <button>
            Cancel
        </button>

        <button>Confirm</button>
    </div>
    <button></button>
</form>

